<%= scope(:popover_content, name: :tags, label: "Tags").render do %>
  <p>Allows you to tag your extension using single or multiple tags. Example: productivity, actions, and information.</p>
<% end %>
