<%= scope(:popover_content, name: :kind, label: "Kind").render do %>
  <p>The kind of extension which can have the following behavior:</p>

  <ul>
    <li><strong>Image</strong>: For rendering a remotely hosted image.</li>
    <li><strong>Poll</strong>: For processing and rendering API data.</li>
    <li><strong>Secure</strong>: For processing and rendering authenticated (OAuth) API data.</li>
    <li><strong>Static</strong>: For processing and rendering static JSON data.</li>
    <li><strong>Webhook</strong>: For processing and rendering information via a webhook.</li>
  </ul>
<% end %>
