<%= scope(:popover_content, name: :last_day_of_month, label: "Last Day Of Month").render do %>
  <p>Specifies if the last day of the month should always be honored when acquiring new information.</p>
<% end %>
