<%= scope(:popover_content, name: :models, label: "Models").render do %>
  <p>The target model(s) for which to render a screen. You'll then be able to dynamically create/update a screen for each model you select. You can then add these to your <a href="/playlists">Playlists</a> as desired.</p>
<% end %>
