<%= scope(:popover_content, name: :mode, label: "Mode").render do %>
  <p>The mode in which the extension is rendered. Can be one of the following:</p>

  <ul>
    <li><strong>Dark</strong>: Applies dark colors.</li>
    <li><strong>Light</strong>: Applies light colors.</li>
  </ul>
<% end %>
