<%= scope(:popover_content, name: :response, label: "Response").render do %>
  <p>Use the response data, in conjunction with your template, to render your screen. The data is sourced from the URIs you provided above. This allows you to see all keys and values for use within your template.</p>
<% end %>
