<%= scope(:popover_content, name: :static_body, label: "Static Body").render do %>
  <p>Allows you to define static data that doesn't require a HTTP connection in order to render data for your extension.</p>
<% end %>
