<%= scope(:popover_content, name: :template, label: "Template").render do %>
  <p>
    Use your <a href="https://shopify.github.io/liquid">Liquid</a> template to design the look and feel -- along with associated data -- for the screen that will dynamically be built for your device(s).
  </p>
<% end %>
