<%= scope(:popover_content, name: :template_full, label: "Template (full)").render do %>
  <p>Allows you to design and implement the <a href="https://shopify.github.io/liquid">Liquid</a> template for rendering a full screen of information.</p>
<% end %>
