<%= scope(:popover_content, name: :template_horizontal, label: "Template (horizontal)").render do %>
  <p>Allows you to design and implement the <a href="https://shopify.github.io/liquid">Liquid</a> template for rendering a half screen of horizontal information.</p>
<% end %>
