<%= scope(:popover_content, name: :template_quarter, label: "Template (quarter)").render do %>
  <p>Allows you to design and implement the <a href="https://shopify.github.io/liquid">Liquid</a> template for rendering a quarter screen of information.</p>
<% end %>
