<%= scope(:popover_content, name: :uris, label: "URIs").render do %>
  <p>Allows you to specifiy single or multiple URIs when making HTTP requests. Each should be delimited by a new line.</p>
<% end %>
