<dialog id="<%= id %>" class="bit-popover-content" popover="auto">
  <button type="button"
          class="close"
          popovertarget="<%= id %>"
          popovertargetaction="hide"
          aria-label="Close dialog">
    <span aria-hidden=true>&times;</span>
    <span class="screen_reader">Close</span>
  </button>

  <h1 class="label"><%= label %></h1>

  <%= yield %>
</dialog>
