<%= scope(:popover_default_content, name: :image, label: "Image").render do %>
  <p>The image associated with your screen. <em>Must</em> be a properly processed image that matches the associated model specifications. If you need to create a processed image first, please use the <%= link_to "Designer", routes.path(:designer) %>, <%= link_to "Extensions", routes.path(:extensions) %>, or <a href="https://github.com/usetrmnl/byos_hanami/blob/main/doc/api.adoc#screens">Screens API</a> before uploading.</p>
<% end %>
