<section class="page page-devices">
  <header class="page-header">
    <h1 class="label">Devices</h1>

    <a href="/devices/new"
       class="button button-new"
       hx-get="/devices/new"
       hx-trigger="click, keyup[ctrlKey&&key=='n'] from:body"
       hx-target=".devices"
       hx-swap="beforeend settle:0.1s">
      New
    </a>
  </header>

  <ul class="devices">
    <% devices.each do |device| %>
      <%= device.render :device %>
    <% end %>
  </ul>
</section>
