name: "terminus"

services:
  web:
    init: true
    image: ghcr.io/usetrmnl/terminus:latest
    environment:
      HANAMI_PORT: ${HANAMI_PORT}
      API_URI: ${API_URI}
      APP_SECRET: ${APP_SECRET}
      DATABASE_URL: postgres://${PG_USER}:${PG_PASSWORD}@database:${PG_PORT}/${PG_DATABASE}
      REDIS_URL: redis://:${REDIS_PASSWORD}@cache:${REDIS_PORT}/${REDIS_DATABASE}
    ports:
      - "${HANAMI_PORT}:${HANAMI_PORT}"
    restart: unless-stopped
    volumes:
      - web-uploads:/app/public/uploads
    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: "1.0"

  worker:
    image: ghcr.io/usetrmnl/terminus:latest
    environment:
      APP_SECRET: ${APP_SECRET}
      DATABASE_URL: postgres://${PG_USER}:${PG_PASSWORD}@database:${PG_PORT}/${PG_DATABASE}
      REDIS_URL: redis://:${REDIS_PASSWORD}@cache:${REDIS_PORT}/${REDIS_DATABASE}
    command: bundle exec sidekiq -r ./config/sidekiq.rb
    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_healthy

  database:
    image: postgres:18.0
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_DB: ${PG_DATABASE}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
    ports:
      - "${PG_PORT}:${PG_PORT}"
    volumes:
      - database-data:/var/lib/postgresql
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USER} -d ${PG_DATABASE}"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: "1.0"

  cache:
    image: redis:8-alpine
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - cache-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "--pass", "${REDIS_PASSWORD}", "ping"]
      interval: 1s
      timeout: 2s
      retries: 5
      start_period: 2s

volumes:
  database-data:
  cache-data:
  web-uploads:
