name: "terminus"

services:
  web:
    init: true
    image: ghcr.io/usetrmnl/terminus:latest
    environment:
      API_URI: ${API_URI:?}
      APP_SECRET: ${APP_SECRET:?}
      DATABASE_URL: postgres://${PG_USER:-terminus}:${PG_PASSWORD:?}@database:${PG_PORT:-5432}/${PG_DATABASE:-terminus}
      REDIS_URL: redis://:${REDIS_PASSWORD:?}@cache:${REDIS_PORT:-6379}/${REDIS_DATABASE:-0}
      LOG_LEVEL: ${WEB_LOG_LEVEL:-info}
    ports:
      - "${WEB_PORT:-2300}:2300"
    restart: unless-stopped
    volumes:
      - web-uploads:/app/public/uploads
    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: "1.0"
    healthcheck:
      test: [
        "CMD",
        "curl",
        "--fail",
        "--silent",
        "http://localhost:2300"
      ]
      interval: 5m
      retries: 3
      start_period: 1m
      timeout: 5s

  worker:
    image: ghcr.io/usetrmnl/terminus:latest
    environment:
      API_URI: ${API_URI:?}
      APP_SECRET: ${APP_SECRET:?}
      DATABASE_URL: postgres://${PG_USER:-terminus}:${PG_PASSWORD:?}@database:${PG_PORT:-5432}/${PG_DATABASE:-terminus}
      REDIS_URL: redis://${REDIS_PASSWORD:?}@cache:${REDIS_PORT:-6379}/${REDIS_DATABASE:-0}
      LOG_LEVEL: ${WORKER_LOG_LEVEL:-warn}
    command: bundle exec sidekiq -r ./config/sidekiq.rb
    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_healthy

  database:
    image: postgres:18.0
    environment:
      POSTGRES_USER: ${PG_USER:-terminus}
      POSTGRES_DB: ${PG_DATABASE:-terminus}
      POSTGRES_PASSWORD: ${PG_PASSWORD:?}
    ports:
      - "${PG_PORT:-5432}:5432"
    volumes:
      - database-data:/var/lib/postgresql
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} -q"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: "1.0"

  cache:
    image: redis:8-alpine
    environment:
      REDISCLI_AUTH: ${REDIS_PASSWORD:?}
    ports:
      - "${REDIS_PORT:-6379}:6379"
    command: redis-server --requirepass ${REDIS_PASSWORD:?}
    volumes:
      - cache-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 2s
      retries: 5
      start_period: 2s

volumes:
  database-data:
  cache-data:
  web-uploads:
