<li id="<%= recipe.id %>" class="bit-card">
  <h2 class="label"><%= recipe.name %></h2>

  <%= tag.img src: recipe.screenshot_url, alt: "Screenshot", loading: :lazy %>

  <div class="actions">
  </div>
</li>
