<label class="radio-button">
  <input type="radio"
         name="<%= name %>"
         value="<%= value %>"
         class="radio-input"
         x-model="<%= model %>">

  <span class="radio-text"><%= label %></span>
</label>
