<%= scope(:popover_content, name: :bit_depth, label: "Bit Depth").render do %>
  <p>The bit depth (i.e. 1, 2, or 4) for grayscale images. Used when converting an image for display on a device.</p>
<% end %>
