<%= scope(:popover_default_content, name: :description, label: "Description").render do %>
  <p>The description of your model. This is optional but, if provided, can provide supplemental information.</p>
<% end %>
