<%= scope(:popover_content, name: :kind, label: "Kind").render do %>
  <p>The kind of model which can be one of several values:</p>

  <ul>
    <li>
      <strong>Core</strong>: Means the model originates from our <a href="https://trmnl.com">Core</a> server and isn't meant to be updated or deleted because, upon next synchronization (i.e. Model Poller), the record will be updated or restored automatically. Currently, all Core models will be one of the following:
      <ul>
        <li><strong>BYOD</strong>: For use on Build Your Own Device (BYOD) devices.</li>
        <li><strong>Kindle</strong>: For use on Amazon Kindle devices.</li>
        <li><strong>TRMNL</strong>: For use on offical TRMNL devices.</li>
      </ul>
    </li>
    <li><strong>Terminus</strong>: Means the model was created for this server only and can be freely managed without being affected by changes from the <a href="https://trmnl.com">Core</a> server.</li>
  </ul>

  <p>This value is not editable since this is used to differentiate records between both servers.</p>
<% end %>
