<%= scope(:popover_default_content, name: :rotation, label: "Rotation").render do %>
  <p>The desired rotation. The default layout is lanscape so if you need portrait, use 90 for value. Used when converting an image for display on a device.</p>
<% end %>
