<%= scope(:popover_default_content, name: :devices, label: "Devices").render do %>
  <p>The device(s) to render a screen for. This allows you to dynamically create/update a screen for each device you select. This is especially important when sensors are connected to your server and/or devices which is something you can't do when using models. You can then add the generated screens to your <%= link_to "Playlists", routes.path(:playlists) %> as desired.</p>
<% end %>
