<%= scope(:popover_content, name: :fields, label: "Fields").render do %>
  <p>Allows you to supply custom form fields for use in your templates. <em>Must be a JSON array of hashes</em>.</p>

  <p>These fields can be used in your Liquid template as follows:</p>

  <ul>
    <li><code>{{extension.fields}}</code>: Provides full access to all fields which means you can loop over all fields or pluck out a specific field by index. Example: <code>{{extension.fields[0].name}}</code>.</li>
    <li><code>{{extension.values}}</code>: Provides quick access to the default values (i.e. the value of the <code>default</code> key) of your fields. You can access thes values via the key's name (i.e. <code>keyname</code>). Example: <code>{{extension.values.demo}}</code>.</li>
  </ul>

  <p>💡 Check out our <a href="https://help.trmnl.com/en/articles/10513740-custom-plugin-form-builder">Help Center</a> documentation for further examples.</p>
<% end %>
