<%= scope(:popover_default_content, name: :template, label: "Template and Data").render do %>
  <p>Use your <a href="https://shopify.github.io/liquid">Liquid</a> template to design the look and feel -- along with associated data -- for the screen that will dynamically be built for your device(s). See the URLs documentation to understand what objects are available to your template.</p>

  <p>Model information such as <code>name</code>, <code>bit_depth</code>, <code>orientation</code>, and <code>css_screen_classes</code> are provided for you which allows you to reuse this template across multiple models when rendering screens.</p>

  <p>💡 In situation in where you have numeric keys, use brackets to reference the value. For example, let's say you have the following response:</p>

  <pre>
    {
      "source": {
        "1": {
          "label": "Test"
        }
      }
    }</pre>

  <p>This means you'd use <code>{{source["1"].label]}}</code> to get the value.</p>
<% end %>
