<p><span class="icon">💥</span></p>

<p>Opps, unable to display image!</p>

<h1>Problem Details</h1>

<dl>
  <dt class="key">Friendly ID:</dt>
  <dd class="value"><%= "?" %></dd>

  <dt class="key">MAC Address:</dt>
  <dd class="value"><%= "?" %></dd>

  <dt class="key">Firmware:</dt>
  <dd class="value"><%= "?" %></dd>
</dl>
