<%= scope(:popover_default_content, name: :kind, label: "Kind").render do %>
  <p>The kind of firmware you want your devices updated with. The following is supported:</p>

  <ul>
    <li><strong>trmnl</strong>: The officially supported <a href="https://github.com/usetrmnl/trmnl-firmware">TRMNL Firmware</a> as automatically synchronized for you (unless disabled).</li>
    <li><strong>terminus</strong>: The default for firmware you build and upload yourself.</li>
    <li><strong>custom</strong>: When none of the above apply and you prefer full customization instead. Can be any unique lowercase value you desire.</li>
  </ul>
<% end %>
