<%= scope(:popover_default_content, name: :version, label: "Version").render do %>
  <p>The <a href="https://alchemists.io/articles/strict_semantic_versioning">Strict Semantic Version</a> of your firmware. Example: <code>1.2.3</code>.</p>
<% end %>
