.bit-loader {
  animation: spin 1.5s linear infinite;
  border-radius: 50%;
  border: 0.3rem solid var(--site-lightgrey);
  border-top: 0.3rem solid var(--site-green);
  height: 0.75rem;
  width: 0.75rem;
}
