.bit-popover-trigger {
  cursor: pointer;
  border: none;
  background: none;
}

.bit-popover-content {
  border-radius: 0.5rem;
  padding: 2rem;
  max-width: calc(100vw - 20%);

  .label {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
    text-align: center;
  }

  .close {
    background: none;
    border: none;
    color: var(--site-black);
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 0.3rem;
    top: 0.2rem;
  }

  .screen_reader:not(:focus):not(:active) {
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.bit-popover-device {
  background: var(--site-black) url("../../images/device.svg") no-repeat center;
  background-size: contain;
  border-radius: 1.5rem;
  max-width: 95vw;
  max-height: 95vh;
  width: min(41rem, 95vw);
  height: min(29rem, 80vh);
  overflow: visible;

  .label {
    bottom: -1rem;
    color: var(--site-white);
    font-size: 1.2rem;
    position: relative;
  }

  .image {
    border-radius: 0.5rem;
  }
}
