.bit-search {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .value {
    border-radius: 0.5rem;
    border: 0.1rem solid oklch(from var(--site-lightgrey) l c h / 0.5);
    padding: 0.7rem 0.4rem;
    outline: none;

    &:focus {
      border: 0.1rem solid oklch(from var(--site-orange) l c h / 0.5);
    }
  }
}

