<div class="show_item">
  <%= render "shared/screen", uri: item.screen.image_uri %>

  <div class="labels">
    <%= link_to item.screen.label, routes.path(:screen, id: item.screen.id) %>
    <%= playlist.current_pill item %>
  </div>
</div>
