<%= scope(:popover_content, name: :mime_type, label: "MIME Type").render do %>
  <p>The <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/MIME_types/Common_types">MIME type</a>. Used when converting an image for display on a device.</p>
<% end %>
