<%= scope(:popover_content, name: :scale_factor, label: "Scale Factor").render do %>
  <p>The scale factor (i.e. 1.0, 2.0, etc). Used when scaling images on different displays as provided by the <%= link_to "Core Framwork", "https://usetrmnl.com/framework" %>.</p>
<% end %>
