<%= scope(:popover_content, name: :scale_factor, label: "Scale Factor").render do %>
  <p>The scale factor (i.e. 1x, 2x, etc). Used when scaling images on different displays. Used by the Core application only.</p>
<% end %>
